<!-- Setup a basic layout with Angular Material -->
<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Restaurant Reservation System</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/add-customer">
        <mat-icon>add</mat-icon> Add Customer
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/customers-list">
        <mat-icon>format_list_bulleted</mat-icon> View Customers
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-reservation">
        <mat-icon>add</mat-icon> Add Reservation 
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/reservations-list">
        <mat-icon>format_list_bulleted</mat-icon> View Reservations 
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/add-cashier">
        <mat-icon>add</mat-icon> Add Cashier 
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/cashiers-list">
        <mat-icon>format_list_bulleted</mat-icon> View Cashiers 
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/add-payment">
        <mat-icon>add</mat-icon> Add Payment
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/payments-list">
        <mat-icon>format_list_bulleted</mat-icon> View Payments 
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/add-employee">
        <mat-icon>add</mat-icon> Add Employee
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/employees-list">
        <mat-icon>format_list_bulleted</mat-icon> View Employees 
      </a>


    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>